body {
    font-family: Roboto, "Novo Sans", sans-serif;
    background-color: #fff3f4;
    text-align: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1,
h2 {
    border-bottom: solid 2px;
    border-color: black;
}

#liste-recettes {
    width: 300px;
}

.lien-recette {
    list-style: none;
    margin-top: 10px;
    padding: 2em;
    background-color: rgb(184, 245, 245);
    border-radius: 80%;
}